body{
    background-color: lightgoldenrodyellow;
    font-family: 'Courier New', Courier, monospace;
}

#title-block {
    display: flex;
    justify-content: space-between;
    justify-content: baseline;
    background-color: green;
    color: yellow;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

}
button{
    margin-top: 25px;
}

#nav-bar {
    justify-content: space-between;
    padding-top: 5px;
    padding-right: 25px;
    background-color: brown;
    color: white;
    height: 50px;
    font-weight: bold;
}
ol{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    color: blue;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

p{
    background-color: antiquewhite;
    height: 100px;
    text-align: justify;
    padding: 5px;
    margin: 100px 200px;
    
}
.nav-div{

}
.img-div{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;;
}

.spacer {
   
    height: 400px;
    margin-top: 25px;
}

footer{
    background-color: brown;
    height: 35px;
    padding: 5px 15px 15px 0px;
    margin-top: 5px;
    font-size: 15px;
}

img {
    margin-top: 15px;
}
#welcome-msg{
    display: flex;
    justify-content: center;
}